@use '../../../styles/mixins';

.MovieFinder__error {
  margin: 1rem;
  font-weight: normal;
  text-align: center;
  font-size: 2rem;
  font-family: 'IBM Plex Mono', monospace;
  width: 400px;
  margin: 0 auto;
}

.MovieFinder__errorMsg {
  display: inline;
  color: #393939;
  font-style: italic;
  text-decoration: underline;
  background-color: #cfcfcf;
  font-size: 1.5rem;
}

.MovieFinder__search {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

.Loader__label {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  font-style: italic;
}

.MovieFinder__footer {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
