@use '../../../styles/mixins';
@use '../../../styles/colors';

.Badge {
  display: inline-block;
  padding: 0 7px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid colors.$white;
  border-radius: 2px;
  user-select: none;
  font-size: 12px;
  line-height: 18px;

  @include mixins.mq(tablet) {
    font-size: 14px;
  }

  @include mixins.mq(desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}

.Badge--capsule {
  border-radius: 12px;
}

.Badge--highlight {
  color: colors.$highlight;
  border: 1px solid colors.$highlight;
}

.Badge--primary {
  color: colors.$grey;
  background-color: colors.$highlight;
}

.Badge--actionnable {
  cursor: pointer;
}
