@use '../../../styles/_layout';

.BadgeList {
  display: flex;
  flex-wrap: wrap;
  gap: layout.$space-s;
  margin: 0;
  padding: 1rem 0;
}

.BadgeList__item {
  list-style: none;
  line-height: 0;
}
