// @import "@styles/utils.scss";

@use '../../../styles/mixins';
@use '../../../styles/colors';
@use '../../../styles/layout';

.Avatar {
  position: relative;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid colors.$white;
  border-radius: 50%;

  &--large {
    width: 130px;
    height: 130px;
  }

  &--small {
    width: 50px;
    height: 50px;
  }

  &--linked {
    transition: border 0.3s;

    &:hover {
      border: 2px solid colors.$highlight;
      cursor: pointer;
    }
  }

  &--with-image {
    background-size: 'cover' !important;
    background-position: 'center' !important;
  }

  &--grayscale {
    filter: saturate(0);
  }
}

.Avatar__image {
  border-radius: 50%;
}

.Avatar__label {
  &--tooltip {
    user-select: none;
    line-height: 1;
    position: absolute;
    bottom: -1rem;
    z-index: layout.$z-index-avatar-tooltip;
    padding: layout.$space-xs;
    white-space: nowrap;
    border-radius: layout.$radius-s;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    @include mixins.mq(tablet) {
      font-size: 1.1rem;
    }
  }

  &:last-of-type {
    &--tooltip {
      right: 0;
    }
  }
}

.Avatar__sublabel {
  display: block;
  font-style: italic;
  font-family: layout.$monospace;
  font-size: 0.8rem;

  @include mixins.mq(tablet) {
    font-size: 1rem;
  }
}

.Avatar__imgFallbackLabel {
  color: colors.$grey;
  font-weight: bold;

  @include mixins.xy-center();
}

.Avatar:hover .Avatar__label--tooltip {
  display: block;
  visibility: visible;
  opacity: 1;
  background: colors.$black;
}
