@use '../../../styles/mixins';
@use '../../../styles/layout';

.Spinner {
  &--xy-center-top {
    @include mixins.xy-center();
    z-index: layout.$z-index-modal;
  }
}

.Spinner__animation {
  width: 150px;
  height: 150px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-scaleout 1s infinite ease-in-out;
}

/* based on: https://tobiasahlin.com/spinkit/ */
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.2;
  }
}

.Spinner__label {
  font-family: layout.$monospace;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}
