$white: #eeeeee;
$black: #090909;
$black-light: #181818;
$black-alpha: #0000001a;
$grey-light: #474747;
$grey: #2a2a2a;

$accent: #ff357fcc;
$highlight: #00fbff;
$highlight-alpha: #00fbffcc;
$overlay: #000000ea;

$blue: #3bade3cc;
$violet: #576fe6cc;
$rose: #9844b7cc;
