// SPACES
$space-xs: 4px;
$space-xs: 4px;
$space-s: 8px;
$space-ms: 12px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

// BORDER RADIUS
$radius-s: 3px;

//  Z-INDEX
$z-index-modal: 999;
$z-index-overlay: 888;
$z-index-header: 99;
$z-index-avatar-tooltip: 2;

// COMPONENT SPECIFIC
$header-atom-height: 3.5rem;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&family=Space+Mono:ital@0;1&display=swap');
$monospace: 'Space Mono', monospace;
$sans-serif: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  system-ui, sans-serif;

$base-font-size: 1em;
$base-line-height: 1.5;
$header-line-height: 1.25;

// TEXT MEANT FOR SCREEN-READERS ONLY
.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
