@use 'sass:map';

/* Breakpoints based on TMDB media sizes + 15 */
$breakpoints: (
  sm: 380px,
  md: 795px,
  lg: 1295px,
);

/* Media queries mixin.
Mobile first approach: tablet -> desktop -> xl */
@mixin mq($device) {
  @if $device==tablet {
    @media only screen and (min-width: map.get($breakpoints, 'sm')) {
      @content;
    }
  }

  @if $device==desktop {
    @media only screen and (min-width: map.get($breakpoints, 'md')) {
      @content;
    }
  }

  @if $device==4K {
    @media only screen and (min-width: map.get($breakpoints, 'lg')) {
      @content;
    }
  }
}

@mixin outer-glow($color, $type: box) {
  @if $type == 'text' {
    @include text-shadow(0 0 2px #{$color});
    @include text-shadow(0 0 0.125rem #{$color}); // 2px
  } @else {
    @include box-shadow(0 0 2px #{$color});
    @include box-shadow(0 0 0.125rem #{$color}); // 2px
  }
}

@mixin xy-center($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ogmdb-gradient() {
  background-image: linear-gradient(
    90deg,
    #3bade3cc 0%,
    #576fe6cc 25%,
    #9844b7cc 50%,
    #ff357fcc 100%
  );
}

/* Place in ancestor's css class to make ReactKawaii icon responsive  */
@mixin responsive-kawaii() {
  div svg {
    width: 150px;
    height: 150px;

    @include mq(desktop) {
      width: 200px;
      height: 200px;
    }

    @include mq(4K) {
      width: 300px;
      height: 300px;
    }
  }
}
