@use './colors';

/* Own flavor of sensible browser defaults,
 based on: https://github.com/hankchizljaw/modern-css-reset/blob/master/dist/reset.css */

/* Account for child's border & padding when specifying its width and height in relation to its parent */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  max-width: 100%;

  /* Stretch body to full viewport height 1/2 */
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  /* Stretch body to full viewport height 2/2 */
  flex-grow: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: colors.$white;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* For users that prefer/need reduced motion  */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
