/* SASS PARTIALS */
// @use 'base';
@use 'colors';
@use 'mixins';
@use 'reset';
@use 'layout';

body,
input,
select,
textarea {
  color: colors.$white;
  font-weight: 400;
  font-size: 17pt;
  font-family: layout.$sans-serif;
  line-height: 1.65;
  background-color: colors.$grey;
}
