@import '../../../styles/_mixins.scss';

.MovieDetailsHeader {
  user-select: none;
  position: relative;
  overflow: hidden;

  height: 200px;

  @include mq(tablet) {
    height: 300px;
  }

  @include mq(desktop) {
    height: 600px;
  }

  @include mq(4K) {
    height: 50vh;
  }

  &:hover {
    .MovieDetailsHeader__controls {
      opacity: 1;
    }
  }
}

.MovieDetailsHeader__controls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  transform: scale(1);
  width: 40px;
  height: 40px;
  z-index: 999;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.7));
  // transform: ;

  // opacity: 0.7;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }

  &.is-showOnFocus {
    opacity: 0;
  }

  @include mq(tablet) {
    width: 60px;
    height: 60px;

    bottom: 2rem;
    left: 2rem;
  }
}
