@import '../../../styles/_mixins.scss';

$l-tablet: 3rem;
$r-tablet: 3rem;
$l-desktop: 4rem;
$r-desktop: 4rem;
$l-4K: 5rem;
$r-4K: 5rem;

.MovieCollection {
  margin-bottom: 1.5rem;

  &:first-of-type {
    margin-top: 2rem;
  }

  &:last-child {
    padding-bottom: 2rem;
  }

  @include mq(tablet) {
    margin-bottom: 2rem;
  }
  @include mq(desktop) {
    margin-bottom: 3rem;
  }
  @include mq(4K) {
    margin-bottom: 4rem;
  }
}

.MovieCollection__title {
  margin: 1rem 0 1rem 1rem;
  line-height: 1;
  font-size: 1.2rem;

  @include mq(tablet) {
    margin-left: $l-tablet;
    font-size: 1.5rem;
  }
  @include mq(desktop) {
    margin-left: $l-desktop;
    font-size: 2rem;
  }
  @include mq(4K) {
    margin-left: $l-4K;
    font-size: 2.5rem;
  }
}

$list-item-padding: 3rem;

.MovieCollection__scroller {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;

  writing-mode: horizontal-tb;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-inline: contain; // "contain" the scroll behavior to the current element https://css-tricks.com/almanac/properties/o/overscroll-behavior/
  grid-auto-columns: 40%; // define the width of each column
  grid-gap: 1rem;

  @include mq(tablet) {
    grid-auto-columns: 30%;
  }

  @include mq(desktop) {
    grid-auto-columns: 25%;
    height: 400px;
  }

  @include mq(4K) {
    grid-auto-columns: 15%;
    height: unset;
    grid-gap: 2rem;
  }

  li:first-child {
    margin-left: 1rem;

    @include mq(tablet) {
      margin-left: $l-tablet;
    }
    @include mq(desktop) {
      margin-left: $l-desktop;
    }
    @include mq(4K) {
      margin-left: $l-4K;
    }
  }
  li:last-child {
    margin-right: 1rem;

    @include mq(tablet) {
      margin-right: $l-tablet;
    }
    @include mq(desktop) {
      margin-right: $l-desktop;
    }
    @include mq(4K) {
      margin-right: $l-4K;
    }
  }
}
