@use '../../../styles/mixins';
@use '../../../styles/colors';

.ResponsiveImage {
  pointer-events: none;
  user-select: none;
  height: inherit;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  opacity: 0.6;

  // Alt (no src) properties
  font-weight: bold;
  color: colors.$white;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;

  &.is-onscreen {
    opacity: 1;
  }

  &.is-backdrop {
    font-size: 0; // hide alt text as backdrop display titles as fallback
  }
}

.ResponsiveImage__wrapper {
  color: colors.$accent;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;

  @include mixins.ogmdb-gradient();
  @include mixins.responsive-kawaii();
}
