@use '../../../styles/_colors';
@use '../../../styles/_layout';
@use '../../../styles/_mixins';

.Button {
  height: layout.$header-atom-height;
  padding: 0 1em;
  font-size: 1rem;
  line-height: 3.5em;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-weight: bold;
  cursor: pointer;
  appearance: none;
  color: colors.$white;
  box-shadow: colors.$white 0 0 0 2px inset;
  transition: background-color 0.2s ease-in-out 0s,
    box-shadow 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;

  @include mixins.mq(tablet) {
    letter-spacing: 0.25em;
    padding: 0 1.75em;
  }

  &:hover,
  &:active {
    color: colors.$highlight;
    box-shadow: inset 0 0 0 2px colors.$highlight;
  }
}

.Button--block {
  display: block;
}

.Button--primary {
  color: colors.$grey;
  background-color: colors.$white;

  &:hover,
  &:active {
    background-color: colors.$highlight;
  }
}

.Button--small {
  font-size: 0.8rem;
}

.Button--large {
  font-size: 1.2rem;
}
