@use '../../../styles/colors';
@use '../../../styles/mixins';
@use '../../../styles/layout';

.MovieDetails {
  @include mixins.xy-center(fixed);

  background-color: colors.$grey-light;
  z-index: layout.$z-index-modal;
  height: 90vh;
  width: 80vw;
  border-radius: layout.$space-xs;
  overflow-y: scroll;
}

.MovieDetails__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: colors.$overlay;
  z-index: layout.$z-index-overlay;
}

.MovieDetails__title {
  color: colors.$white;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1;

  @include mixins.mq(tablet) {
    font-size: 3rem;
  }
  @include mixins.mq(desktop) {
    font-size: 4rem;
  }
}

.MovieDetails__tagline {
  font-family: layout.$monospace;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1;
  margin-top: layout.$space-xs;

  @include mixins.mq(tablet) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

.MovieDetails__overview {
  font-size: 0.9rem;

  @include mixins.mq(tablet) {
    font-size: 1.3rem;
  }
}

.MovieDetails__overviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mixins.mq(desktop) {
    flex-direction: row;
    margin-top: 1rem;

    .MovieDetails__overview,
    .MovieDetails__cast {
      width: 50%;
    }
  }
}

.MovieDetails__main {
  padding: 1rem;
  font-size: 0.9rem;

  @include mixins.mq(tablet) {
    font-size: 1.1rem;
    padding: 1.5rem;
  }

  @include mixins.mq(desktop) {
    font-size: 1.4rem;
    padding: 1rem 2rem 2rem;
  }

  @include mixins.mq(4K) {
    font-size: 2rem;
  }
}
