@use '../../../styles/mixins';
@use '../../../styles/layout';
@use '../../../styles/colors';

$padding: 1rem;

.Movie {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 100%;

  &.is-backdrop {
    border-radius: 0;
    height: 400px;

    @include mixins.mq(4K) {
      height: 800px;
    }
  }
}

.Movie__title {
  position: absolute;
  color: colors.$black;
  font-weight: 900;
  background: colors.$highlight-alpha;
  padding: 1rem;
  left: $padding;
  top: $padding;
  line-height: 1.15;
  z-index: 10;
  max-width: calc(100% - ($padding * 2));
}

.Movie__titleOriginal {
  display: block;
  font-weight: normal;
  text-transform: inherit;
  font-style: italic;
  font-family: layout.$monospace;
  font-size: 1.3rem;
}

.Movie__wrapper {
  height: 100%;

  &:hover {
    cursor: pointer;
  }
}
