@use '../../../styles/mixins';
@use '../../../styles/layout';

.FetchStatusUI__problem {
  font-weight: bold;
  text-align: center;
  font-family: layout.$monospace;
  margin: 0 auto 2rem;
  z-index: layout.$z-index-modal;

  @include mixins.xy-center();

  @include mixins.responsive-kawaii();

  @include mixins.mq(desktop) {
    font-size: 2rem;
  }
  @include mixins.mq(4K) {
    font-size: 3rem;
  }
}
