@use './styles/_mixins.scss';
@use './styles/_layout.scss';

body {
  margin: 0;
  font-family: layout.$sans-serif;
  font-size: layout.$base-font-size;
  line-height: layout.$base-line-height;

  @include mixins.mq(tablet) {
    font-size: layout.$base-font-size * 1.2;
    line-height: layout.$base-line-height * 1.2;
  }

  @include mixins.mq(desktop) {
    font-size: layout.$base-font-size * 1.3;
  }

  @include mixins.mq(4K) {
    font-size: layout.$base-font-size * 1.6;
    font-size: 3rem;
  }
}

#root {
  &.modal-open {
    overflow: hidden;
    overscroll-behavior: contain;
  }
}
