$stackSpacing: 12px;

.AvatarList {
  display: flex;
  flex-direction: column;
}

.AvatarList__title {
  font-weight: bold;
  font-size: 1.5rem;
}

.AvatarList__items {
  display: flex;
  overflow-x: scroll;
  gap: 0.5rem;
  padding-bottom: 1.5rem;

  &.is-stacked {
    gap: unset;
  }
}

.AvatarList__item {
  list-style: none;

  &--stacked {
    &:not(:first-of-type) {
      margin-left: -($stackSpacing);
    }
  }
}
